.notifications{
    margin-top: 2rem;
    height: 100%;
    padding: 2rem 3rem;
    background-color: $color-black-2;
    display: flex;
    flex-direction: column;
    &__top{
        display: flex;
        align-items: center;
    }
    &__heading{
        margin-right: auto;
        font-size: 1.8rem;
        color: #fff;
        font-weight: 400;
        letter-spacing: 1.2px;
    }
    &__seeall:link, &__seeall:visited{
        font-size: 1.4rem;
        color: $color-orange;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }
    &__seeall:hover{
        font-size: 1.5rem;
    }
    &__user{
        &:not(:last-child){
            margin-bottom: 3.5rem;
        }
    }
    &__link{
        position: relative;
        z-index: 1;
    }
    &__link::before{
        content: "";
        position: absolute;
        width: 125%;
        height: 169%;
        top: -1.7rem;
        left: -3rem;
        background-color: transparent;
        z-index: -1;
        transition: background-color .3s ease-in-out;
    }
    &__link:hover::before{
        background-color: lighten($color-black-2, 20%);
    }
    &__link:link, &__link:visited{
        display: flex;
        text-decoration: none;
        color: currentColor;
        align-items: center;
    }
    &__user-photo{
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%;
    }
    &__text{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }
    &__user-name{
        color: #fff;
        font-size: 1.2rem;
    }
    &__chat-text{
        color: $color-grey;
        font-size: 1.2rem;
        font-weight: 400;
    }

}