.container{
    margin: 4rem auto;
    background-color: $color-grey-dark;

    //temp

    //height: 120vh;
    max-width: 120rem;
    //

    border-radius: 3rem;
    overflow: hidden;

    display: flex;

    //weird
    @include respond(tab-land) {
        margin: 0;
        border-radius: 0;
        max-width: 100%;
    }
    @include respond(tab-port){
        flex-direction: column;
    }
}

.main{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    flex:0 0 50%; 
    align-items: flex-start;
    @include respond(tab-land){
        flex: 0 0 30%;
    }
    @include respond(tab-land-2){
        flex: 0 0 50%;
    }
    @include respond(tab-port){
        order: 3;
        align-self: center;

    }
    @include respond(phone){
        align-self: center;
    }
}
.main__last{
    display: flex;

}
.graphic{
    width: 20rem;
    height: auto;
    margin-left: 2rem;
    margin-top: 5rem;
    &__photo{
        width: 100%;
        height: auto;
    }
}

.activities{
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $color-black-2;
    @include respond(tab-land){
        flex: 1;
    }
    @include respond(tab-land-2){
        flex: 1;
    }
    @include respond(tab-port){
        order: 2;
        flex-direction: row;
    }

}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 3rem;
    @include respond(tab-port){
        flex: 1;
        padding-bottom: 0;
        flex-direction: column-reverse;
        background-image: linear-gradient(to right bottom, rgba(255, 143, 143, 0.466), rgba(160, 79, 79, 0.795)), url(../img/background-user.jpg);
        background-size: cover;
    }
}
