/* Coolors Exported Palette - coolors.co/563c48-39489c-000000-000000-000000 */

/* HSL */
$color1: hsla(332%, 18%, 29%, 1);
$color2: hsla(231%, 46%, 42%, 1);
$color3: hsla(0%, 0%, 0%, 1);
$color4: hsla(0%, 0%, 0%, 1);
$color5: hsla(0%, 0%, 0%, 1);

/* RGB */
$color1: rgba(86, 60, 72, 1);
$color2: rgba(57, 72, 156, 1);
$color3: rgba(0, 0, 0, 1);
$color4: rgba(0, 0, 0, 1);
$color5: rgba(0, 0, 0, 1);