/* Coolors Exported Palette - coolors.co/f3f2fc-001bef-f9570a-06060f-b9adb3 */

/* HSL */
$color1: hsla(246%, 63%, 97%, 1);
$color2: hsla(233%, 100%, 47%, 1);
$color3: hsla(19%, 95%, 51%, 1);
$color4: hsla(240%, 43%, 4%, 1);
$color5: hsla(330%, 8%, 70%, 1);

/* RGB */
$color1: rgba(243, 242, 252, 1);
$color2: rgba(0, 27, 239, 1);
$color3: rgba(249, 87, 10, 1);
$color4: rgba(6, 6, 15, 1);
$color5: rgba(185, 173, 179, 1);