$color-grey-light: rgba(243, 242, 252, 1);
$color-blue-light: #055cf8;
$color-orange: #ff9f24;
$color-black: #281447;
$color-black-2: #20233e;
$color-grey-dark: #f7f6ff;
$color-red-light: rgba(86, 60, 72, 1);
$color-blue-dark: rgba(57, 72, 156, 1);
$color-blue-dark-2: #0446bc;
$color-grey: #7e7e7e;
$color-orange-2: #ff6638;
$color-cyan: #51c6d1;


$row-width:114rem;
$row-margin:4rem;
$col-margin:4rem;


.margin-bottom-4{
    margin-bottom: 4rem;
}

.margin-bottom-2{
    margin-bottom: 2rem;
}

.align-self{
    align-self: flex-start;
}